
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
* {
    font-family: 'Press Start 2P',Roboto,sans-serif;
}
body {
    background-color: rgb(159, 199, 151); 
    line-height: 1.5;
    font-size: 18px;
    margin: 0;
    background: url("https://github.com/Akkikura/vizitka/blob/main/img/bg.gif?raw=true")
}

.main {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.75rem;
    color: white;
    position: fixed;
    align-content: center;
    right: 18%;
}
.undertext_class{
    font-size: 1.65rem;
}
.contacts{
    position: fixed;
    left: 2%;
    bottom: 2.5%;
    font-size: 19px;
    color: white;
}
.img_class{
    width: 300px;
    height: 400px;
    display:   block;
    margin: 7%;
    border-radius: 40%;
}

.link{
    text-decoration: none;
    color: white;
}
.loli1{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 30%;
    top: 0.7%;  
}
@media (max-width: 1000px){
    .main{
        right: 6%;
        top: 2%;
    }
    .name_class{
        font-size: 18px;
    }
    .undertext_class{
        font-size: 13px;
    }
    .img_class{
        width: 150px;
        height: 200px
    }
    .loli1{
        left: 5%;
        bottom: 90%;
        width: 10px;
        height: 10px;

    }
}
